<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.founder.mapper.RecordContractBypeopleInfoMapper">

    <select id="findAll" resultType="com.founder.model.RecordContractByPeopleInfo">
    select * from RECORD_CONTRACT_BYPEOPLE_INFO
  </select>
    <select id="findjdPnumbersPTRQ" resultType="int" parameterType="java.lang.String">
    select count(*) from bi_person_info@db_phdbd where FILING_FLAG='1' and
  </select>
    <select id="findqyPnumbers" resultType="int">
    select  count(*) from sign@db_fds
  </select>
</mapper>